/* Initialize */

* { margin: 0; padding: 0; }
li { list-style: none; }

.text-bold { font-weight: bold; }

.wrapper { width: 1080px; margin: 0 auto; position: relative; }

.clearfix:before, .clearfix:after {
    content: '';
    display: block;
}

.clearfix:after {
    clear: both;
}

/* Header */

.header {
    height: 170px;
    border-bottom: 1px solid #F1F3F6;
}

.header-nav {
    float: right;
    position: absolute;
    top: 0; right: 0;
    font-size: 11px;
}

.header-nav li {
    float: left;
    margin: 10px 5px;
}

.right-arw {
    display: inline-block;
    width: 4px; height: 8px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: -68px -126px;
}

.junior-naver {
    display: inline-block;
    width: 58px; height: 11px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: 82px 129px;
}

.junior-naver:hover {
    background-image: url(../img/sp_main_v170424.png);
    background-position: 82px 107px;
}

.happy-bean {
    display: inline-block;
    width: 34px; height: 12px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: -76px -147px;
}

.happy-bean:hover {
    background-image: url(../img/sp_main_v170424.png);
    background-position: -32px -147px;
}

.wrapper>span {
    display: inline-block;
    float: left;
}

.logo {
    width: 202px; height: 57px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: 0px 0;
    position: absolute;
    top: 61px; left: -2px;
}

.search {
    border: 2px solid #00c73c;
    width: 474px; height: 41px;
    margin-top: 10px; margin-left: 20px;
    position: relative;
    top: 57px; left: 199px;
}

.keyboard {
    display: inline-block;
    width: 19px; height: 11px;
    box-sizing: border-box;
    position: absolute;
    top: 9px; right: 32px;
}

.keyboard-icon {
    display: inline-block;
    width: 19px; height: 11px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: -120px -147px;
}

.bottom-arw {
    display: inline-block;
    width: 9px; height: 4px;
    box-sizing: border-box;
    position: absolute;
    top: 6px; right: 12px;
}

.bottom-arw-icon {
    display: inline-block;
    width: 9px; height: 4px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: -158px -109px;
}

#search-input {
    width: 405px; height: 23px;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 20px;
    border: 0;
}

.search-button {
    display: inline-block;
    background-color: #00c73c;
    width: 45px; height: 45px;
    position: absolute;
    top: 67px; right: 340px;
}

.search-icon {
    display: inline-block;
    width: 42px; height: 42px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: 11px 58px;
}

/* Navigation */

.nav {
    border-bottom: 1px solid #F1F3F6;
}

.nav>.wrapper>* {
    float: left;
}

/* Navigation(green) */

.green-nav {
    padding: 13px 0;
}

.green-nav li {
    float: left;
    padding: 0 7px;
}

.mail {
    display: inline-block;
    width: 25px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: 26px 70px;
}

.cafe {
    display: inline-block;
    width: 25px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: 173px 44px;
}

.blog {
    display: inline-block;
    width: 40px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -220px -24px;
}

.jisikIN {
    display: inline-block;
    width: 40px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: 196px 96px;
}

.shopping {
    display: inline-block;
    width: 25px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -109px -233px;
}

.pay {
    display: inline-block;
    width: 26px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -269px -77px;
}

.tv {
    display: inline-block;
    width: 40px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -118px -129px;
}

/* Navigation(black) */

.black-nav {
    padding: 13px 0;
}

.black-nav li {
    float: left;
    padding: 0 7px;
}

.dictionary {
    display: inline-block;
    width: 26px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -270px -51px;
}

.news {
    display: inline-block;
    width: 28px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -124px -103px;
}

.stock {
    display: inline-block;
    width: 26px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -217px -234px;
}

.property {
    display: inline-block;
    width: 40px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: 0 -181px;
}

.map {
    display: inline-block;
    width: 26px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -49px -207px;
}

.movie {
    display: inline-block;
    width: 27px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -159px -207px;
}

.music {
    display: inline-block;
    width: 27px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -73px -233px;
}

.book {
    display: inline-block;
    width: 13px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -271px 43px;
}

.webtoon {
    display: inline-block;
    width: 27px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: -233px -207px;
}

.vertical-line {
    width: 1px;
    height: 14px;
    margin: 15px 8px 0;
    background-color: #ebeef3;
}

.more {
    display: inline-block;
    width: 55px; height: 16px;
    background-image: url(../img/sp_nav_v170523.png);
    background-position: 0 -77px;
    margin-top: 16px; margin-left: 10px;
}

.rank {
    position: absolute;
    top: 13px; right: 0;
    width: 198px; height: 20px;
}

.rank li {
    float: left;
}

.rank .num {
    font-size: 16px;
    color: #00ab33;
    margin-right: 7px;
}

.rank .content {
    font-size: 14px;
}

.more-rank {
    display: inline-block;
    width: 11px; height: 6px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: -188px -88px;
    margin-top: 8px;
    float: right;
}

/* Section */

.section {
    background-color: #f2f4f7;
    border-top: 1px solid #D1D8E4;
}

.section .wrapper {
    padding: 8px;
}

.section section {
    float: left;
}

.section article {
    background-color: #fff;
    border: 1px solid #dee3eb;
    margin-bottom: 8px;
}

.left-section article {
    margin-right: 7px;
    width: 740px;
    box-sizing: border-box;
}

.right-section article {
    width: 332px;
    box-sizing: border-box;
}

/* Section(left) */

.ad {
    display: inline-block;
    width: 740px; height: 120px;
    margin-right: 8px; margin-bottom: 8px;
    border: 1px solid #dee3eb;
}

.section .union-news {
    height: 44px;
}

.union-news ul {
    margin-top: 13px;
    margin-left: 9px;
}

.union-news-left {
    float: left;
}

.union-news-left li:nth-child(2) {
    margin-top: -4px;
    margin-left: -4px;
}

.union-news-right {
    float: right;
    margin: 12px;
}

.union-news li {
    padding: 0 7px;
    float: left;
}

.union-news-title {
    display: inline-block;
    width: 62px; height: 14px;
    background-image: url(https://s.pstatic.net/static/www/img/2017/sp_newscast_v170424.png);
    background-position: 263px -168px;
    padding-top: 2px;
}

.union-news-content {
    text-decoration: none;
    font-size: 13px;
    color: #000;
}

.naver-news {
    display: inline-block;
    width: 62px; height: 16px;
    background-image: url(https://s.pstatic.net/static/www/img/2017/sp_newscast_v170424.png);
    background-position: 62px 2px;
}

.entmt {
    display: inline-block;
    width: 24px; height: 14px;
    background-image: url(https://s.pstatic.net/static/www/img/2017/sp_newscast_v170424.png);
    background-position: 62px -100px;
}

.sports {
    display: inline-block;
    width: 36px; height: 14px;
    background-image: url(https://s.pstatic.net/static/www/img/2017/sp_newscast_v170424.png);
    background-position: 62px -52px;
}

.economy {
    display: inline-block;
    width: 24px; height: 14px;
    background-image: url(https://s.pstatic.net/static/www/img/2017/sp_newscast_v170424.png);
    background-position: 62px -76px;
}

.ranking {
    display: inline-block;
    width: 24px; height: 14px;
    background-image: url(https://s.pstatic.net/static/www/img/2017/sp_newscast_v170424.png);
    background-position: 29px -76px;
}

.news-stand {
    height: 246px;
    position: relative;
}

.news-stand-title {
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #dee3eb;
}

.news-stand-content {
    height: 200px;
}

.news-stand-content li {
    float: left;
    width: 122px; height: 24px;
    padding: 21px 0 22px;
    border-right: 1px solid #f1f3f6;
}

.news-stand-content li a {
    display: block;
    height: 100%;
    text-align: center;
}

.news-stand-content img {
    width: auto;
    height: 24px;
}

.article {
    height: 882px;
}

.last-article {
    height: 130px;
}

.news-stand-line {
    position: absolute;
    background-color: #dee3eb;
    width: 740px; height: 1px;
}

.first-line {
    top: 112px; left: 0;
}

.second-line {
    top: 180px; left: 0;
}

.white-vertical-line {
    position: absolute;
    top: 47px; left: 737px;
    width: 1px; height: 200px;
    background-color: #fff;
}

/* Secton(Right) */

.myInfo {
    height: 118px;
}

.today-news {
    height: 142px;
}

.mini-ad {
    width: 330px; height: 150px;
    margin-bottom: 7px;
}

.shopping-ad {
    height: 884px;
}

.last-ad {
    height: 130px;
}

/* footer */

.footer {
    height: 203px;
}

.footer * {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.top-footer {
    border-top: 1px solid #dee3eb;
    background-color: #fff;
}

.left-top-footer {
    float: left;
    padding: 15px 0;
}

.right-top-footer {
    float: right;
    padding: 15px 0;
}

.top-footer li {
    float: left;   
}

.top-footer .text-bold {
    margin-right: 10px;
}

.bottom-footer {
    border-top: 1px solid #dee3eb;
    background-color: #fff;
    height: 156px;
}

.bottom-footer .wrapper {
    margin-top: 35px;
}

.bottom-footer .wrapper>div {
    float: left;
}

.footer-nav li {
    float: left;
    padding-right: 6px;
}

.footer-nav p {
    padding-top: 11px;
}

.footer-bar {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #ebeef3;
    margin-right: 6px;
}

.big-right-arw {
    display: inline-block;
    width: 5px; height: 11px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: -178px -147px;
}

.whale-browser {
    margin-right: 13px;
    padding-left: 6px;
    border-left: 1px solid #ebeef3;
}

.whale-browser div, .app-download div {
    float: left;
}

.whale-browser-icon {
    display: inline-block;
    width: 50px; height: 50px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: 0px -67px;
}

.app-download {
    border-left: 1px solid #ebeef3;
    padding-left: 6px;
}

.app-download-icon {
    display: inline-block;
    width: 50px; height: 50px;
    background-image: url(../img/sp_main_v170424.png);
    background-position: -60px -67px;
}